<h1> Nearest Agents List</h1>
<ul>
    <li><a href="/../ny">New york city, New york</a></li>
     <li><a href="">Boston, Massachusetts</a></li>
     <li><a href="">Chicago, Illinois</a></li>
     <li><a href="">Houston, Texas</a></li>
     <li><a href="">Phoenix, Arizona</a></li>
     <li><a href="">San Diego, California</a></li>
     <li><a href="">Dallas, Texas</a></li>
     <li><a href="">San Jose, California</a></li>
     <li><a href="">Austin, Texas</a></li>
    <li><a href="">Columbus, Ohio</a></li>
</ul>