<h1> Nearest Agents List</h1>
<ul>
     <li><a href="/../ny">New york city, New york</a></li>
     <li><a href="/../bs">Boston, Massachusetts</a></li>
     <li><a href="/../la">Los Angeles, California</a></li>
     <li><a href="/../cc">Chicago, Illinois</a></li>
     <li><a href="/../ht">Houston, Texas</a></li>
     <li><a href="/../px">Phoenix, Arizona</a></li>
     <li><a href="/../sd">San Diego, California</a></li>
     <li><a href="/../ds">Dallas, Texas</a></li>
     <li><a href="/../sj">San Jose, California</a></li>
     <li><a href="/../at">Austin, Texas</a></li>
     <li><a href="/../cs">Columbus, Ohio</a></li>
</ul>



<!--<form action="/ny/" method="POST">{% csrf_token %}-->


    <!--<select name="city" id="city-select">-->
    <!--<option value="">&#45;&#45;Please choose an option&#45;&#45;</option>-->
    <!--<option value="New york city">New York City Details</option>-->
    <!--<option value="Boston">Boston City Details</option>-->
    <!--<option value="hamster">Hamster</option>-->
    <!--</select>-->
<!--<button>Submit</button>-->
<!--</form>-->

<!--<form action="/ny/" method="POST">{% csrf_token %}-->
    <!--<li>-->
        <!--<a name="city" href="/../ny" onclick="submit">-->
        <!--<input type="hidden" value="SubuNYork" name="city">-->
        <!--NYYYYY </a>-->
    <!--</li>-->
<!--</form>-->

<!--<form action="/ny/" method="POST">{% csrf_token %}-->
    <!--<li>-->
        <!--<input type="submit" value="SubuNYork" name="city">-->
        <!--<a name="city" href="/../ny" onclick="submit">-->

        <!--NYYYYY </a>-->
    <!--</li>-->
<!--</form>-->
